p {
	padding: 0;
	margin: 0;
	font-size: 450%;
	text-align: center;
}

.main-div {
	width: 600px;
	margin: 0 auto;

}

.container {
	border: 2px solid black;
    width: 500px;
    border-radius: 15px;
    margin-top: 25px;
    padding-bottom: 5px;
}

.control {
	width: 90%;
	margin: 0 auto;
	margin-top: 25px;
}

.miliseconds {
    font-size: 150%;
    text-align: right;
    padding-right: 155px;
}

.timer {
	padding: 0px 15px 0px 15px;
}

.success,
.error {
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 50px;
    font-size: 150%;
}
            
.success {
   background: rgb(28, 184, 65); /* green */ 
   margin-right: 145px;        
}

.error {
   background: rgb(202, 60, 60); /* maroon */
}


